{% extends 'Index/base.html' %}
{% load static %}

{% block title %}
  <title>Login | Blog</title>
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
  <section class="section">
    <h1 class="titulo">Login</h1>
    <form class="form" action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      {% for field in form %}
        {{ field.label_tag }} 
        <div class="form-input">
          {{ field }}
        </div>
        {{ field.errors }}
      {% endfor %}
      <a href="{% url 'signup' %}">¿No tenés una cuenta?</a>
      <button class="btn" type="submit">Ingresar</button>
    </form>
  </section>
{% endblock %}
