.blog-container {
  margin-block: 3rem;
  margin-inline: auto;
  width: 70rem;
}

/* Blog Title */
.blog-title {
  font-size: 3rem;
}

.blog-info h2 {
  font-weight: 400;
}

.blog-sub-info {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1rem;
}

.blog-sub-info a {
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.blog-sub-info a:hover {
  text-decoration: underline;
}

/* Blog Img */
.blog-img {
  margin: 1rem 0 3rem 0;
  width: 70rem;
  height: 20rem;
  border-radius: 5px;
}

.blog-img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

/* Blog Body */
.blog-body {
  width: 70%;
  text-align: justify;
  margin-inline: auto;
}