.form {
  width: 100%;
}

.titulo {
  margin-top: 2rem;
}

.create-blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  padding: 0 2rem 4rem 2rem;
  width: 55rem;
}

/* Edit Blog */
.btns-edit {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-inline: auto;
}

.eliminar-btn {
  background-color: rgb(255, 86, 56);
  border: 1px black solid;
  padding-block: 0.56rem;
  border-radius: 5px;
}

.eliminar-btn:hover {
  background-color: rgb(238, 88, 62);
}

.django-ckeditor-widget{
  width: 100%;
}

/* Arreglo para un input que aparece por CKeditor */
#image-clear_id {
  display: none;
}

#image-clear_id + label {
  display: none;
}