{% extends "Index/base.html" %}
{% load static %}

{% block title %}
  <title>Create | Blog</title>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'Blogs/css/createBlog.css' %}">
{% endblock %}

{% block content %}
  <h1 class="titulo">Crear Blog</h1>
  <section class="create-blog-container">
    <form class="form" action="{% url 'createBlog' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}
          <div>
              {{ field.label_tag }} 
              <div class="form-input">
                {{ field }}
              </div>
              {{ field.errors }}
          </div>
      {% endfor %}
      <button class="btn" type="submit">Crear</button>
    </form>
  </section>
  <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
  <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}
