{% extends "Index/base.html" %}
{% load static %}

{% block title %}
  <title>Mensajes</title>
{% endblock %}
{% block style %}
  <link rel="stylesheet" href="{% static 'Index/base.css' %}">
{% endblock %}

{% block content %}
  <section class="section">
    {% if emisores %}
      {% for emisor in emisores %}
        <div>
          <a href="{% url 'messages' username=emisor.username %}">
            <p>{{ emisor.username }}</p>
          </a>
        </div>
      {% endfor %}

      {% if messages %}
        {% for message in messages %}
          <p>{{ message.emisor }} - {{ message.body }}</p>
        {% endfor %}
      {% endif %}

    {% else %}
      <div>
        No tienes mensajes.
      </div>
    {% endif %}
    <!-- Cuando se envía un mensaje recargo la página manteiendo la conversación abierta -->
    {% with username=request.resolver_match.kwargs.username %}
      <form action="{% url 'sendMessage' username=username %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field.label_tag }} {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        {% if username|lower == 'none' %}
          <button type="submit" disabled>Enviar</button>
        {% else %}
          <button type="submit">Enviar</button>
        {% endif %}
      </form>
    {% endwith %}
  </section>
{% endblock %}