{% extends "Index/base.html" %}
{% load static %}

{% block title %}
  <title>Mensajes</title>
{% endblock %}
{% block style %}
  <link rel="stylesheet" href="{% static 'Messages/css/messages.css' %}">
{% endblock %}

{% block content %}
  <h1 class="titulo">Mensajes</h1>
  <section class="messages-container">
    <div class="emisores">
      {% if emisores %}
        {% for emisor in emisores %}
          <div class="emisor">
            <a href="{% url 'messages' username=emisor.username %}">
              <p>{{ emisor.username }}</p>
            </a>
          </div>
        {% endfor %}
      {% endif %}
    </div>

    <div class="panel-derecho">
      <div class="messages">
        {% if messages %}
          {% for message in messages %}
            {% with username=request.resolver_match.kwargs.username %}
              {% if username == message.emisor|stringformat:'s' %}
                <div class="message-received">
                  {{ message.body }}
                </div>
              {% else %}
                <div class="message-sent">
                  {{ message.body }}

                  {% if message.leido %}
                    <div class="leido"></div>
                  {% else %}
                    <div class="no-leido"></div>
                  {% endif %}
                </div>
              {% endif %}
            {% endwith %}
            
          {% endfor %}
        {% endif %}
      </div>
  
      <!-- Cuando se envía un mensaje recargo la página manteiendo la conversación abierta -->
      {% with username=request.resolver_match.kwargs.username %}
        <form class="message-form" action="{% url 'sendMessage' username=username %}" method="POST">
          {% csrf_token %}
          {% for field in form %}
            {{ field }}
            {{ field.errors }}
          {% endfor %}
          {% if username|lower == 'none' %}
            <button class="btn" type="submit" disabled>Enviar</button>
          {% else %}
            <button class="btn" type="submit">Enviar</button>
          {% endif %}
        </form>
      {% endwith %}
    </div>
  </section>
  <script>
    const messages = document.querySelector('.messages');
    messages.scrollTop = messages.scrollHeight - messages .clientHeight;
  </script>
{% endblock %}