@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spectral', serif;
}

/* General */
.section {
  padding: 3rem 2rem;
  width: fit-content;
  margin-inline: auto;
}

.titulo {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Spectral', serif;
}

.error {
  margin-inline: auto;
  padding: 1rem;
  width: fit-content;
  border-radius: 5px;
  background-color: rgb(218, 54, 26);
  color: rgb(255, 255, 255);
}

.form {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.form-input input {
  margin: 0.2rem 0 1rem 0;
  padding: 0.3rem 0.3rem;
  width: 100%;
  border: none;
  border: 1px solid black;
  border-radius: 5px;
}

.btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  margin-inline: auto;
  cursor: pointer;
  font-weight: 600;
}

.form label,
.form-input input,
.btn {
  font-family: sans-serif;
}

/* Nav */
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0.5rem;
  height: 3rem;
  width: 100%;
  background-color: rgb(20, 20, 20);
}

nav a {
  font-weight: 600;
  font-size: 1.1rem;
  text-decoration: none;
  color: white;
}
